<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="member">
    <insert id ="insert" parameterType="memberVO">
        INSERT INTO member (member_name, member_email, member_requiredterm, member_optionalterm)
        VALUES (#{memberName}, #{memberEmail}, #{memberRequiredTerm}, #{memberOptionalTerm})
    </insert>

    <select id="isMailExists" resultType="boolean">
        SELECT COUNT(*) > 0
        FROM member
        WHERE member_email = #{memberEmail}
    </select>


    <select id="isNickNameExist" resultType="boolean">
        SELECT COUNT(*) > 0
        FROM member
        WHERE member_name = #{name}
    </select>

    <select id="getMemberId" resultType="String">
        SELECT member_id
        FROM member
        WHERE member_email = #{email}
    </select>


    <select id="authenticate" parameterType="map" resultType="boolean">
        SELECT COUNT(*) > 0
        FROM member
        WHERE member_email = #{email}
    </select>

    <select id="getMemberMain" resultType="MemberChallengeDTO">
        SELECT
        c.challenge_no AS challengeNo,
        c.challenge_intro AS challengeShortIntro,
        c.challenge_title AS challengeTitle
        FROM
        MEMBER m
        INNER JOIN
        CHALLENGE c
        ON
        m.challenge_no = c.challenge_no
        WHERE
        m.member_id = #{memberId}::UUID
    </select>

    <select id="getMemberNext" resultType="MemberChallengeDTO">
        SELECT
        c2.challenge_no AS challengeNo,
        c2.challenge_intro AS challengeShortIntro,
        c2.challenge_title AS challengeTitle
        FROM
        MEMBER m
        INNER JOIN
        CHALLENGE c1
        ON
        m.challenge_no = c1.challenge_no
        INNER JOIN
        CHALLENGE c2
        ON
        c1.challenge_group = c2.challenge_group
        WHERE
        m.member_id = #{memberId}::UUID
        AND c2.challenge_no > c1.challenge_no
        ORDER BY
        c2.challenge_no ASC
    </select>


    <select id="getMemberComplete" resultType="MemberChallengeDTO">
        SELECT
        c2.challenge_no AS challengeNo,
        c2.challenge_intro AS challengeShortIntro,
        c2.challenge_title AS challengeTitle
        FROM
        MEMBER m
        INNER JOIN
        CHALLENGE c1
        ON
        m.challenge_no = c1.challenge_no
        INNER JOIN
        CHALLENGE c2
        ON
        c1.challenge_group = c2.challenge_group
        WHERE
        m.member_id = #{memberId}::UUID
        AND c1.challenge_no > c2.challenge_no
        ORDER BY
        c2.challenge_no ASC
    </select>


    <select id="getMemberMission" parameterType="String" resultType="map">
        SELECT
        m.mission_title,
        m.mission_explain
        FROM
        mission AS m
        WHERE
        m.challenge_no = 1
        AND m.mission_no NOT IN (
        SELECT
        c.mission_no
        FROM
        member AS mem
        INNER JOIN
        complete AS c ON mem.member_no = c.member_no
        WHERE
        mem.member_id = #{memberId}::UUID
        )
    </select>


</mapper>