<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="review">
    <select id="getReviews" parameterType="String" resultMap="reviewResultMap">
        SELECT * FROM review WHERE challenge_no = #{challengeNo}::bigint
    </select>

    <resultMap id="reviewResultMap" type="com.peerfect.vo.challenge.ReviewVO">
        <result property="reviewNo" column="review_no"/>
        <result property="memberNo" column="member_no"/>
        <result property="challengeNo" column="challenge_no"/>
        <result property="reviewLevel" column="review_level"/>
        <result property="reviewText" column="review_text"/>
        <result property="reviewDate" column="review_date"/>
        <result property="reviewWaste" column="review_waste"/>
    </resultMap>
</mapper>